In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import glob

In [2]:
path = "Data/GVB 2020-02/02/03/"
filenames = glob.glob(path + "*.csv")
print(filenames)

df_list = []

for i in range(len(filenames)):
    try:
        data = pd.read_csv(filenames[i], sep=";")
        df_list.append(data)
    except:
        pass

['Data/GVB 2020-02/02/03\\Datalab_Reis_Bestemming_Datum_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Reis_Bestemming_Uur_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Reis_Herkomst_Datum_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Reis_Herkomst_Uur_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Rit_Bestemming_Uur_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Rit_Herkomst_Bestemming_Uur_20200203.csv', 'Data/GVB 2020-02/02/03\\Datalab_Rit_Herkomst_Uur_20200203.csv']

In [ ]:
data = df_list[0].dropna()

grouped_data = data.groupby(by=["AankomstHalteNaam", "AankomstLat", "AankomstLon"], as_index=False)["AantalReizen"].sum()

print(data.head(10))

grouped_data.head(10)

In [3]:
data1 = df_list[1].dropna()
data3 = df_list[3].dropna()

grouped_data1 = data1.groupby(by=["UurgroepOmschrijving (van aankomst)", "AankomstHalteNaam"], as_index=False)["AantalReizen"].sum()
grouped_data3 = data3.groupby(by=["UurgroepOmschrijving (van vertrek)", "VertrekHalteNaam"], as_index=False)["AantalReizen"].sum()


# print(data1.head(10))
# print(data3.head(10))

print(grouped_data1.head(10))
grouped_data3.head(10)

  UurgroepOmschrijving (van aankomst)      AankomstHalteNaam  AantalReizen
0                       00:00 - 00:59      1e Coehoornstraat            34
1                       00:00 - 00:59  1e Con. Huygensstraat            20
2                       00:00 - 00:59     1e v.Swindenstraat            23
3                       00:00 - 00:59       A.J. Ernststraat            11
4                       00:00 - 00:59         Aalbersestraat            14
5                       00:00 - 00:59    Adm. Helfrichstraat           197
6                       00:00 - 00:59     Adm. de Ruijterweg           115
7                       00:00 - 00:59         Alexanderplein            94
8                       00:00 - 00:59             Amsteldijk            15
9                       00:00 - 00:59             Amstelkade            47

  UurgroepOmschrijving (van vertrek)       VertrekHalteNaam  AantalReizen
0                      00:00 - 00:59  1e Con. Huygensstraat            22
1                      00:00 - 00:59     1e v.Swindenstraat            13
2                      00:00 - 00:59     Adm. de Ruijterweg            47
3                      00:00 - 00:59          Amstelstation           666
4                      00:00 - 00:59        Amstelveenseweg           186
5                      00:00 - 00:59                  Artis            10
6                      00:00 - 00:59              Beukenweg            23
7                      00:00 - 00:59       Bilderdijkstraat           147
8                      00:00 - 00:59  Buiten Brouwersstraat            21
9                      00:00 - 00:59              Bullewijk            91