In [2]:
import pandas as pd

In [13]:
Mobility_df = pd.read_csv('2021_NL_Region_Mobility_Report.csv')
Data_df = pd.read_csv('Merged_algo_tester_gvb.csv')

/Users/sebastiaan/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
Mobility_df
amsterdam_mobility = Mobility_df[Mobility_df['sub_region_2'] == 'Government of Amsterdam']

In [11]:
amsterdam_mobility = amsterdam_mobility.drop(columns=['metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id','sub_region_1', 'sub_region_2','country_region','country_region_code'])

In [20]:
amsterdam_mobility['date'] = pd.to_datetime(amsterdam_mobility['date'])
Data_df['Date'] = pd.to_datetime(Data_df['Date'])

In [21]:
Data_df

,Datetime,Location,Visits,Date,Time,Journeys_normal,Windspeed,Temperature,Clouds,Rain amount,...,Holiday_Name_Easter,Holiday_Name_Fall holiday,Holiday_Name_Good Friday,Holiday_Name_Kings day,Holiday_Name_Liberation Day,Holiday_Name_May holiday,Holiday_Name_Spring holiday,Holiday_Name_Summer holiday,Holiday_Name_Whit,Holiday_Name_Winter holiday
0,2020-10-01 00:15:00,Erasmuspark,243.0,2020-10-01,00:15:00,85.861869,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2020-10-01 00:15:00,Oosterpark,53.0,2020-10-01,00:15:00,185.207097,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2020-10-01 00:15:00,Sarphatipark,96.0,2020-10-01,00:15:00,145.621873,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2020-10-01 00:15:00,Vondelpark West,54.0,2020-10-01,00:15:00,11.334497,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2020-10-01 00:15:00,Westergasfabriek,12.0,2020-10-01,00:15:00,11.040116,5.0,15.575,8.00,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603667,2022-01-06 14:45:00,Westerpark Oost,131.0,2022-01-06,14:45:00,74.106210,5.0,5.400,3.25,0.0,...,0,0,0,0,0,0,0,0,0,1
603668,2022-01-06 14:45:00,Westerpark West,91.0,2022-01-06,14:45:00,10.000000,5.0,5.400,3.25,0.0,...,0,0,0,0,0,0,0,0,0,1
603669,2022-01-06 15:00:00,Flevopark,165.0,2022-01-06,15:00:00,18.870370,5.0,5.200,4.00,0.0,...,0,0,0,0,0,0,0,0,0,1
603670,2022-01-06 15:00:00,Sarphatipark,776.0,2022-01-06,15:00:00,115.074419,5.0,5.200,4.00,0.0,...,0,0,0,0,0,0,0,0,0,1
603671,2022-01-06 15:00:00,Vondelpark West,344.0,2022-01-06,15:00:00,11.041860,5.0,5.200,4.00,0.0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
merged_df = Data_df.merge(amsterdam_mobility, how='left', left_on='Date', right_on='date')

In [23]:
merged_df

,Datetime,Location,Visits,Date,Time,Journeys_normal,Windspeed,Temperature,Clouds,Rain amount,...,Holiday_Name_Summer holiday,Holiday_Name_Whit,Holiday_Name_Winter holiday,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-10-01 00:15:00,Erasmuspark,243.0,2020-10-01,00:15:00,85.861869,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-10-01 00:15:00,Oosterpark,53.0,2020-10-01,00:15:00,185.207097,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-10-01 00:15:00,Sarphatipark,96.0,2020-10-01,00:15:00,145.621873,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-10-01 00:15:00,Vondelpark West,54.0,2020-10-01,00:15:00,11.334497,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-10-01 00:15:00,Westergasfabriek,12.0,2020-10-01,00:15:00,11.040116,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603667,2022-01-06 14:45:00,Westerpark Oost,131.0,2022-01-06,14:45:00,74.106210,5.0,5.400,3.25,0.0,...,0,0,1,NaT,NaN,NaN,NaN,NaN,NaN,NaN
603668,2022-01-06 14:45:00,Westerpark West,91.0,2022-01-06,14:45:00,10.000000,5.0,5.400,3.25,0.0,...,0,0,1,NaT,NaN,NaN,NaN,NaN,NaN,NaN
603669,2022-01-06 15:00:00,Flevopark,165.0,2022-01-06,15:00:00,18.870370,5.0,5.200,4.00,0.0,...,0,0,1,NaT,NaN,NaN,NaN,NaN,NaN,NaN
603670,2022-01-06 15:00:00,Sarphatipark,776.0,2022-01-06,15:00:00,115.074419,5.0,5.200,4.00,0.0,...,0,0,1,NaT,NaN,NaN,NaN,NaN,NaN,NaN
603671,2022-01-06 15:00:00,Vondelpark West,344.0,2022-01-06,15:00:00,11.041860,5.0,5.200,4.00,0.0,...,0,0,1,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
merged_df[90000:90400]

,Datetime,Location,Visits,Date,Time,Journeys_normal,Windspeed,Temperature,Clouds,Rain amount,...,Holiday_Name_Summer holiday,Holiday_Name_Whit,Holiday_Name_Winter holiday,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
90000,2021-01-16 15:30:00,Nelson Mandelapark,30.0,2021-01-16,15:30:00,87.50,8.0,-0.70,8.0,0.075,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90001,2021-01-16 15:30:00,Noorderpark,219.0,2021-01-16,15:30:00,142.00,8.0,-0.70,8.0,0.075,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90002,2021-01-16 15:30:00,Oosterpark,357.0,2021-01-16,15:30:00,633.50,8.0,-0.70,8.0,0.075,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90003,2021-01-16 15:30:00,Park Frankendael,197.0,2021-01-16,15:30:00,295.00,8.0,-0.70,8.0,0.075,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90004,2021-01-16 15:30:00,Sarphatipark,638.0,2021-01-16,15:30:00,946.00,8.0,-0.70,8.0,0.075,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90395,2021-01-16 23:45:00,Gaasperpark,3.0,2021-01-16,23:45:00,14.00,4.0,0.15,8.0,0.000,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90396,2021-01-16 23:45:00,Nelson Mandelapark,7.0,2021-01-16,23:45:00,10.00,4.0,0.15,8.0,0.000,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90397,2021-01-16 23:45:00,Noorderpark,36.0,2021-01-16,23:45:00,65.50,4.0,0.15,8.0,0.000,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90398,2021-01-16 23:45:00,Oosterpark,147.0,2021-01-16,23:45:00,124.00,4.0,0.15,8.0,0.000,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0
90399,2021-01-16 23:45:00,Park Frankendael,54.0,2021-01-16,23:45:00,78.75,4.0,0.15,8.0,0.000,...,0,0,0,2021-01-16,-76.0,-25.0,-48.0,-67.0,-24.0,12.0