In [38]:
import pandas as pd

In [39]:
Mobility_df_2021 = pd.read_csv('2021_NL_Region_Mobility_Report.csv')
Mobility_df_2022 = pd.read_csv('2022_NL_Region_Mobility_Report.csv')
Mobility_df = Mobility_df_2021.append(Mobility_df_2022)
Data_df = pd.read_csv('Merged_algo_tester_gvb.csv')

/Users/sebastiaan/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
Mobility_df

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,ChIJu-SH28MJxkcRnwq9_851obM,2021-01-01,-79.0,-77.0,5.0,-75.0,-83.0,24.0
1,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,ChIJu-SH28MJxkcRnwq9_851obM,2021-01-02,-65.0,-17.0,0.0,-59.0,-22.0,12.0
2,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,ChIJu-SH28MJxkcRnwq9_851obM,2021-01-03,-62.0,-19.0,3.0,-56.0,-12.0,8.0
3,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,ChIJu-SH28MJxkcRnwq9_851obM,2021-01-04,-52.0,-12.0,-23.0,-62.0,-41.0,16.0
4,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,ChIJu-SH28MJxkcRnwq9_851obM,2021-01-05,-52.0,-8.0,-8.0,-61.0,-41.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5485,NL,Netherlands,Zeeland,Veere,NaN,NaN,NaN,ChIJa7uf-GcjxEcRpGJlbS6aq8s,2022-01-11,NaN,NaN,9.0,NaN,-25.0,9.0
5486,NL,Netherlands,Zeeland,Veere,NaN,NaN,NaN,ChIJa7uf-GcjxEcRpGJlbS6aq8s,2022-01-12,NaN,NaN,-2.0,NaN,-29.0,8.0
5487,NL,Netherlands,Zeeland,Veere,NaN,NaN,NaN,ChIJa7uf-GcjxEcRpGJlbS6aq8s,2022-01-13,NaN,NaN,-27.0,NaN,-27.0,12.0
5488,NL,Netherlands,Zeeland,Veere,NaN,NaN,NaN,ChIJa7uf-GcjxEcRpGJlbS6aq8s,2022-01-14,NaN,NaN,-3.0,NaN,-25.0,NaN
5489,NL,Netherlands,Zeeland,Veere,NaN,NaN,NaN,ChIJa7uf-GcjxEcRpGJlbS6aq8s,2022-01-15,-32.0,NaN,-24.0,NaN,-21.0,NaN

In [41]:
Mobility_df
amsterdam_mobility = Mobility_df[Mobility_df['sub_region_2'] == 'Government of Amsterdam']

In [42]:
amsterdam_mobility = amsterdam_mobility.drop(columns=['metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id','sub_region_1', 'sub_region_2','country_region','country_region_code'])

In [43]:
amsterdam_mobility['date'] = pd.to_datetime(amsterdam_mobility['date'])
Data_df['Date'] = pd.to_datetime(Data_df['Date'])

In [45]:
amsterdam_mobility.

,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
76646,2021-01-01,-84.0,-64.0,-41.0,-80.0,-81.0,23.0
76647,2021-01-02,-76.0,-29.0,-50.0,-70.0,-25.0,13.0
76648,2021-01-03,-77.0,-29.0,-37.0,-70.0,-18.0,10.0
76649,2021-01-04,-68.0,-25.0,-48.0,-68.0,-55.0,20.0
76650,2021-01-05,-67.0,-21.0,-39.0,-69.0,-55.0,21.0
...,...,...,...,...,...,...,...
3179,2022-01-11,-60.0,-9.0,-21.0,-56.0,-44.0,16.0
3180,2022-01-12,-60.0,-9.0,-16.0,-55.0,-42.0,15.0
3181,2022-01-13,-63.0,-11.0,-33.0,-57.0,-44.0,17.0
3182,2022-01-14,-64.0,-10.0,-27.0,-54.0,-39.0,15.0
3183,2022-01-15,-55.0,-10.0,-39.0,-50.0,-12.0,8.0

In [46]:
merged_df = Data_df.merge(amsterdam_mobility, how='left', left_on='Date', right_on='date')

In [47]:
merged_df

,Datetime,Location,Visits,Date,Time,Journeys_normal,Windspeed,Temperature,Clouds,Rain amount,...,Holiday_Name_Summer holiday,Holiday_Name_Whit,Holiday_Name_Winter holiday,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-10-01 00:15:00,Erasmuspark,243.0,2020-10-01,00:15:00,85.861869,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-10-01 00:15:00,Oosterpark,53.0,2020-10-01,00:15:00,185.207097,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-10-01 00:15:00,Sarphatipark,96.0,2020-10-01,00:15:00,145.621873,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-10-01 00:15:00,Vondelpark West,54.0,2020-10-01,00:15:00,11.334497,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-10-01 00:15:00,Westergasfabriek,12.0,2020-10-01,00:15:00,11.040116,5.0,15.575,8.00,0.0,...,0,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603667,2022-01-06 14:45:00,Westerpark Oost,131.0,2022-01-06,14:45:00,74.106210,5.0,5.400,3.25,0.0,...,0,0,1,2022-01-06,-62.0,-12.0,-25.0,-59.0,-55.0,18.0
603668,2022-01-06 14:45:00,Westerpark West,91.0,2022-01-06,14:45:00,10.000000,5.0,5.400,3.25,0.0,...,0,0,1,2022-01-06,-62.0,-12.0,-25.0,-59.0,-55.0,18.0
603669,2022-01-06 15:00:00,Flevopark,165.0,2022-01-06,15:00:00,18.870370,5.0,5.200,4.00,0.0,...,0,0,1,2022-01-06,-62.0,-12.0,-25.0,-59.0,-55.0,18.0
603670,2022-01-06 15:00:00,Sarphatipark,776.0,2022-01-06,15:00:00,115.074419,5.0,5.200,4.00,0.0,...,0,0,1,2022-01-06,-62.0,-12.0,-25.0,-59.0,-55.0,18.0
603671,2022-01-06 15:00:00,Vondelpark West,344.0,2022-01-06,15:00:00,11.041860,5.0,5.200,4.00,0.0,...,0,0,1,2022-01-06,-62.0,-12.0,-25.0,-59.0,-55.0,18.0