In [51]:
from glob import glob
import shutil
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime  as dt
import json  
import zipfile

In [52]:
dataframe = []
for name in glob(r"C:\Users\amr2-\OneDrive\デスクトップ\Resono\Resono_raw\2020\*\*\*.csv"):
    df = pd.read_csv(name)
    dataframe.append(df) #append to the list
    
dataframe = pd.concat(dataframe, axis=0)        
   
dataframe.drop_duplicates(inplace=True)
dataframe.reset_index(inplace=True, drop=True)

In [53]:
df1 = dataframe.drop(['Resono-ID'], axis=1)
df1

,Location,Locationcode,Start,End,Visits
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1
...,...,...,...,...,...
5286329,Station RAI,59f13158-f7d5-4da9-85a8-0cddc726b5fa,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,12
5286330,Muiderpoortstation,d0498adf-7e50-4165-a0f7-7c42695be5c7,2020-12-31T23:15:00+00:00,2020-12-31T23:29:59+00:00,18
5286331,Muiderpoortstation,d0498adf-7e50-4165-a0f7-7c42695be5c7,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,14
5286332,Busstation Lelylaan,eff61520-4e8d-42ab-aa29-f56d7a10bc25,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,2
5286333,Winkelcentrum Amstelveen,dc682c11-e085-48d6-9496-32fb211bdf5c,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,115

In [54]:
df1['Start'].unique()

array(['2020-09-30T00:00:00+00:00', '2020-09-30T00:15:00+00:00',
       '2020-09-30T00:30:00+00:00', ..., '2020-12-31T23:00:00+00:00',
       '2020-12-31T23:15:00+00:00', '2020-12-31T23:30:00+00:00'],
      dtype=object)

In [77]:
df2 = []
for name in glob(r"C:\Users\amr2-\OneDrive\デスクトップ\Resono\Resono_raw\drive-download-20220107T154029Z-001\*.csv"):
    df = pd.read_csv(name)
    df2.append(df) #append to the list
    
df2 = pd.concat(df2, axis=0)        
   
df2.drop_duplicates(inplace=True)
df2.reset_index(inplace=True, drop=True)

In [78]:
df2 = df2.rename(columns={'total_count': 'Visits',
                          'measured_at': 'Start',
                          'location_name': 'Location',
                          'location_id': 'Locationcode'})
df2_2 = df2.drop(['geo', 'Unnamed: 0'], axis=1)
df2_3 = df2_2[['Location', 'Locationcode', 'Start', 'Visits']]

df2_3

,Location,Locationcode,Start,Visits
0,Overhoeksparklaan,01c00230-bcb5-4d86-bf79-2a53ed1b1415,2021-04-01 00:00:00,1
1,Stenen Hoofd,02e9b4c4-129f-4eb4-a2a7-f332da161b7f,2021-04-01 00:00:00,1
2,Sarphatipark,0549b281-0465-407b-b76f-e0259a6a8348,2021-04-01 00:00:00,1
3,Erasmuspark,0599dd4b-23a8-4e07-af69-1a413fb5142e,2021-04-01 00:00:00,11
4,Willibrordusplein,07b0328f-f3c9-4aff-a92f-01eaac8bcfd8,2021-04-01 00:00:00,1
...,...,...,...,...
5008055,Nieuwmarkt,f8fd5c19-4b0f-4d30-859a-2e1a732ef4ae,2021-09-30 12:00:00,827
5008056,Piet Mondriaanplein,f91a684e-3c1a-474e-a33c-2c690cc33f9b,2021-09-30 12:00:00,240
5008057,Gaasperplas,fa354783a991,2021-09-30 12:00:00,311
5008058,Joop Woortmanplein,fd340840-c699-4efb-b53c-baaec5f9553d,2021-09-30 12:00:00,13
5008059,Schellingwouderpark,fe090b74-0ac8-4e0d-a4ba-6cba543ea04a,2021-09-30 12:00:00,142

In [6]:
df2_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4127437 entries, 0 to 4127436
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   Location      object
 1   Locationcode  object
 2   Start         object
 3   Visits        int64
dtypes: int64(1), object(3)
memory usage: 126.0+ MB

In [79]:
df2_3.Start = pd.to_datetime(df2_3.Start)
df2_3['End'] = df2_3['Start'] + dt.timedelta(minutes=14, seconds=59)

In [80]:
df3 = []
for name in glob(r"C:\Users\amr2-\OneDrive\デスクトップ\Resono\Resono_raw\drive-download-20220107T154232Z-001\*\*\*\*.csv"):
    df = pd.read_csv(name)
    df3.append(df) #append to the list
    
df3 = pd.concat(df3, axis=0)        
   
df3.drop_duplicates(inplace=True)
df3.reset_index(inplace=True, drop=True)

In [81]:
#df3 has december 31 2020 as well. we need to check to see the duplicates from df1.
df3_2 = df3.drop(['Resono-ID'], axis=1)
df3_2

,Location,Locationcode,Start,End,Visits
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-12-31T00:00:00+00:00,2020-12-31T00:14:59+00:00,49
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-12-31T00:15:00+00:00,2020-12-31T00:29:59+00:00,47
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-12-31T00:30:00+00:00,2020-12-31T00:44:59+00:00,47
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-12-31T00:45:00+00:00,2020-12-31T00:59:59+00:00,240
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-12-31T01:00:00+00:00,2020-12-31T01:14:59+00:00,206
...,...,...,...,...,...
4804153,Omval/Overamstel,64ee1aa6-cb1d-4fea-8908-160f4c8b3c7d,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,111
4804154,Duivendrecht,b4f14e17-4b23-42e6-89d3-f076cdb384bf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,204
4804155,Amsterdamse Poort,13d50a94-abc5-4ef4-afeb-307ed97fa2de,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,17
4804156,Javaplein,541136e8-d7dc-4370-9bfd-523608a4d9cf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,2
4804157,Diemen Noord,fd2ea5ba-e356-4338-93a9-e009728f9bcg,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,291

In [82]:
together =  [df1, df2_3, df3_2]
resono_all = pd.concat(together)
# resono_all_1 = resono_all.drop_duplicates(inplace=True)
# resono_all_1
resono_all

,Location,Locationcode,Start,End,Visits
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1
...,...,...,...,...,...
4804153,Omval/Overamstel,64ee1aa6-cb1d-4fea-8908-160f4c8b3c7d,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,111
4804154,Duivendrecht,b4f14e17-4b23-42e6-89d3-f076cdb384bf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,204
4804155,Amsterdamse Poort,13d50a94-abc5-4ef4-afeb-307ed97fa2de,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,17
4804156,Javaplein,541136e8-d7dc-4370-9bfd-523608a4d9cf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,2
4804157,Diemen Noord,fd2ea5ba-e356-4338-93a9-e009728f9bcg,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,291

In [83]:
resono_1 = resono_all
resono_1['Start_Dates'] = pd.to_datetime(resono_1['Start'], utc = True).dt.date
resono_1['Start_Time'] = pd.to_datetime(resono_1['Start'], utc = True).dt.time
resono_1['End_Dates'] = pd.to_datetime(resono_1['End'], utc = True).dt.date
resono_1['End_Time'] = pd.to_datetime(resono_1['End'], utc = True).dt.time
resono_1

,Location,Locationcode,Start,End,Visits,Start_Dates,Start_Time,End_Dates,End_Time
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1,2020-09-30,00:00:00,2020-09-30,00:14:59
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1,2020-09-30,00:15:00,2020-09-30,00:29:59
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1,2020-09-30,00:30:00,2020-09-30,00:44:59
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1,2020-09-30,00:45:00,2020-09-30,00:59:59
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1,2020-09-30,01:00:00,2020-09-30,01:14:59
...,...,...,...,...,...,...,...,...,...
4804153,Omval/Overamstel,64ee1aa6-cb1d-4fea-8908-160f4c8b3c7d,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,111,2021-02-21,23:30:00,2021-02-21,23:44:59
4804154,Duivendrecht,b4f14e17-4b23-42e6-89d3-f076cdb384bf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,204,2021-02-21,23:30:00,2021-02-21,23:44:59
4804155,Amsterdamse Poort,13d50a94-abc5-4ef4-afeb-307ed97fa2de,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,17,2021-02-21,23:30:00,2021-02-21,23:44:59
4804156,Javaplein,541136e8-d7dc-4370-9bfd-523608a4d9cf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,2,2021-02-21,23:30:00,2021-02-21,23:44:59
4804157,Diemen Noord,fd2ea5ba-e356-4338-93a9-e009728f9bcg,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,291,2021-02-21,23:30:00,2021-02-21,23:44:59

In [57]:
resono_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14217929 entries, 0 to 4804157
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Location      object
 1   Locationcode  object
 2   Start         object
 3   End           object
 4   Visits        object
 5   Start_Dates   object
 6   Start_Time    object
 7   End_Dates     object
 8   End_Time      object
dtypes: object(9)
memory usage: 1.1+ GB

In [84]:
resono_1['Start_Dates'].unique()

array([datetime.date(2020, 9, 30), datetime.date(2020, 10, 1),
       datetime.date(2020, 10, 2), datetime.date(2020, 10, 3),
       datetime.date(2020, 10, 4), datetime.date(2020, 10, 5),
       datetime.date(2020, 10, 6), datetime.date(2020, 10, 7),
       datetime.date(2020, 10, 8), datetime.date(2020, 10, 9),
       datetime.date(2020, 10, 10), datetime.date(2020, 10, 11),
       datetime.date(2020, 10, 12), datetime.date(2020, 10, 13),
       datetime.date(2020, 10, 14), datetime.date(2020, 10, 15),
       datetime.date(2020, 10, 16), datetime.date(2020, 10, 17),
       datetime.date(2020, 10, 18), datetime.date(2020, 10, 19),
       datetime.date(2020, 10, 20), datetime.date(2020, 10, 21),
       datetime.date(2020, 10, 22), datetime.date(2020, 10, 23),
       datetime.date(2020, 10, 24), datetime.date(2020, 10, 25),
       datetime.date(2020, 10, 26), datetime.date(2020, 10, 27),
       datetime.date(2020, 10, 28), datetime.date(2020, 10, 29),
       datetime.date(2020, 10, 30), datetime.date(2020, 10, 31),
       datetime.date(2020, 11, 1), datetime.date(2020, 11, 2),
       datetime.date(2020, 11, 3), datetime.date(2020, 11, 4),
       datetime.date(2020, 11, 5), datetime.date(2020, 11, 6),
       datetime.date(2020, 11, 7), datetime.date(2020, 11, 8),
       datetime.date(2020, 11, 9), datetime.date(2020, 11, 10),
       datetime.date(2020, 11, 11), datetime.date(2020, 11, 12),
       datetime.date(2020, 11, 13), datetime.date(2020, 11, 14),
       datetime.date(2020, 11, 15), datetime.date(2020, 11, 16),
       datetime.date(2020, 11, 17), datetime.date(2020, 11, 18),
       datetime.date(2020, 11, 19), datetime.date(2020, 11, 20),
       datetime.date(2020, 11, 21), datetime.date(2020, 11, 22),
       datetime.date(2020, 11, 23), datetime.date(2020, 11, 24),
       datetime.date(2020, 11, 25), datetime.date(2020, 11, 26),
       datetime.date(2020, 11, 27), datetime.date(2020, 11, 28),
       datetime.date(2020, 11, 29), datetime.date(2020, 11, 30),
       datetime.date(2020, 12, 1), datetime.date(2020, 12, 2),
       datetime.date(2020, 12, 3), datetime.date(2020, 12, 4),
       datetime.date(2020, 12, 5), datetime.date(2020, 12, 6),
       datetime.date(2020, 12, 7), datetime.date(2020, 12, 8),
       datetime.date(2020, 12, 9), datetime.date(2020, 12, 10),
       datetime.date(2020, 12, 11), datetime.date(2020, 12, 12),
       datetime.date(2020, 12, 13), datetime.date(2020, 12, 14),
       datetime.date(2020, 12, 15), datetime.date(2020, 12, 16),
       datetime.date(2020, 12, 17), datetime.date(2020, 12, 18),
       datetime.date(2020, 12, 19), datetime.date(2020, 12, 20),
       datetime.date(2020, 12, 21), datetime.date(2020, 12, 22),
       datetime.date(2020, 12, 23), datetime.date(2020, 12, 24),
       datetime.date(2020, 12, 25), datetime.date(2020, 12, 26),
       datetime.date(2020, 12, 27), datetime.date(2020, 12, 28),
       datetime.date(2020, 12, 29), datetime.date(2020, 12, 30),
       datetime.date(2020, 12, 31), datetime.date(2021, 4, 1),
       datetime.date(2021, 4, 2), datetime.date(2021, 4, 3),
       datetime.date(2021, 4, 4), datetime.date(2021, 4, 5),
       datetime.date(2021, 4, 6), datetime.date(2021, 4, 7),
       datetime.date(2021, 4, 8), datetime.date(2021, 4, 9),
       datetime.date(2021, 4, 10), datetime.date(2021, 4, 11),
       datetime.date(2021, 4, 12), datetime.date(2021, 4, 13),
       datetime.date(2021, 4, 14), datetime.date(2021, 4, 15),
       datetime.date(2021, 4, 16), datetime.date(2021, 4, 17),
       datetime.date(2021, 4, 18), datetime.date(2021, 4, 19),
       datetime.date(2021, 4, 20), datetime.date(2021, 4, 21),
       datetime.date(2021, 4, 22), datetime.date(2021, 4, 23),
       datetime.date(2021, 4, 24), datetime.date(2021, 4, 25),
       datetime.date(2021, 4, 26), datetime.date(2021, 4, 27),
       datetime.date(2021, 4, 28), datetime.date(2021, 4, 29),
       datetime.date(2021, 4, 30), datetime.date(2021, 8, 1),
       datetime.date(2021, 8, 2), datetime.date(2021, 8, 3),
       datetime.date(2021, 8, 4), datetime.date(2021, 8, 5),
       datetime.date(2021, 8, 6), datetime.date(2021, 8, 7),
       datetime.date(2021, 8, 8), datetime.date(2021, 8, 9),
       datetime.date(2021, 8, 10), datetime.date(2021, 8, 11),
       datetime.date(2021, 8, 12), datetime.date(2021, 8, 13),
       datetime.date(2021, 8, 14), datetime.date(2021, 8, 15),
       datetime.date(2021, 8, 16), datetime.date(2021, 8, 17),
       datetime.date(2021, 8, 18), datetime.date(2021, 8, 19),
       datetime.date(2021, 8, 20), datetime.date(2021, 8, 21),
       datetime.date(2021, 8, 22), datetime.date(2021, 8, 23),
       datetime.date(2021, 8, 24), datetime.date(2021, 8, 25),
       datetime.date(2021, 8, 26), datetime.date(2021, 8, 27),
       datetime.date(2021, 8, 28), datetime.date(2021, 8, 29),
       datetime.date(2021, 8, 30), datetime.date(2021, 8, 31),
       datetime.date(2021, 12, 1), datetime.date(2021, 12, 2),
       datetime.date(2021, 12, 3), datetime.date(2021, 12, 4),
       datetime.date(2021, 12, 5), datetime.date(2021, 12, 6),
       datetime.date(2021, 12, 7), datetime.date(2021, 12, 8),
       datetime.date(2021, 12, 9), datetime.date(2021, 12, 10),
       datetime.date(2021, 12, 11), datetime.date(2021, 12, 12),
       datetime.date(2021, 12, 13), datetime.date(2021, 12, 14),
       datetime.date(2021, 12, 15), datetime.date(2021, 12, 16),
       datetime.date(2021, 12, 17), datetime.date(2021, 12, 18),
       datetime.date(2021, 12, 19), datetime.date(2021, 12, 20),
       datetime.date(2021, 12, 21), datetime.date(2021, 12, 22),
       datetime.date(2021, 12, 23), datetime.date(2021, 12, 24),
       datetime.date(2021, 12, 25), datetime.date(2021, 12, 26),
       datetime.date(2021, 12, 27), datetime.date(2021, 12, 28),
       datetime.date(2021, 12, 29), datetime.date(2021, 12, 30),
       datetime.date(2021, 12, 31), datetime.date(2022, 1, 1),
       datetime.date(2022, 1, 2), datetime.date(2022, 1, 3),
       datetime.date(2022, 1, 4), datetime.date(2022, 1, 5),
       datetime.date(2022, 1, 6), datetime.date(2021, 7, 1),
       datetime.date(2021, 7, 2), datetime.date(2021, 7, 3),
       datetime.date(2021, 7, 4), datetime.date(2021, 7, 5),
       datetime.date(2021, 7, 6), datetime.date(2021, 7, 7),
       datetime.date(2021, 7, 8), datetime.date(2021, 7, 11),
       datetime.date(2021, 7, 12), datetime.date(2021, 7, 13),
       datetime.date(2021, 7, 14), datetime.date(2021, 7, 15),
       datetime.date(2021, 7, 16), datetime.date(2021, 7, 17),
       datetime.date(2021, 7, 18), datetime.date(2021, 7, 19),
       datetime.date(2021, 7, 20), datetime.date(2021, 7, 21),
       datetime.date(2021, 7, 22), datetime.date(2021, 7, 25),
       datetime.date(2021, 7, 26), datetime.date(2021, 7, 28),
       datetime.date(2021, 7, 29), datetime.date(2021, 7, 30),
       datetime.date(2021, 7, 31), datetime.date(2021, 6, 1),
       datetime.date(2021, 6, 2), datetime.date(2021, 6, 3),
       datetime.date(2021, 6, 4), datetime.date(2021, 6, 5),
       datetime.date(2021, 6, 6), datetime.date(2021, 6, 7),
       datetime.date(2021, 6, 8), datetime.date(2021, 6, 9),
       datetime.date(2021, 6, 10), datetime.date(2021, 6, 11),
       datetime.date(2021, 6, 12), datetime.date(2021, 6, 13),
       datetime.date(2021, 6, 14), datetime.date(2021, 6, 15),
       datetime.date(2021, 6, 16), datetime.date(2021, 6, 17),
       datetime.date(2021, 6, 18), datetime.date(2021, 6, 19),
       datetime.date(2021, 6, 20), datetime.date(2021, 6, 21),
       datetime.date(2021, 6, 22), datetime.date(2021, 6, 23),
       datetime.date(2021, 6, 24), datetime.date(2021, 6, 25),
       datetime.date(2021, 6, 26), datetime.date(2021, 6, 27),
       datetime.date(2021, 6, 28), datetime.date(2021, 6, 29),
       datetime.date(2021, 6, 30), datetime.date(2021, 3, 1),
       datetime.date(2021, 3, 8), datetime.date(2021, 3, 9),
       datetime.date(2021, 3, 10), datetime.date(2021, 3, 11),
       datetime.date(2021, 3, 12), datetime.date(2021, 3, 13),
       datetime.date(2021, 3, 14), datetime.date(2021, 3, 15),
       datetime.date(2021, 3, 16), datetime.date(2021, 3, 17),
       datetime.date(2021, 3, 18), datetime.date(2021, 3, 19),
       datetime.date(2021, 3, 20), datetime.date(2021, 3, 21),
       datetime.date(2021, 3, 22), datetime.date(2021, 3, 23),
       datetime.date(2021, 3, 24), datetime.date(2021, 3, 25),
       datetime.date(2021, 3, 26), datetime.date(2021, 3, 27),
       datetime.date(2021, 3, 28), datetime.date(2021, 3, 29),
       datetime.date(2021, 3, 30), datetime.date(2021, 3, 31),
       datetime.date(2021, 5, 1), datetime.date(2021, 5, 2),
       datetime.date(2021, 5, 3), datetime.date(2021, 5, 4),
       datetime.date(2021, 5, 5), datetime.date(2021, 5, 6),
       datetime.date(2021, 5, 7), datetime.date(2021, 5, 8),
       datetime.date(2021, 5, 9), datetime.date(2021, 5, 10),
       datetime.date(2021, 5, 11), datetime.date(2021, 5, 12),
       datetime.date(2021, 5, 13), datetime.date(2021, 5, 14),
       datetime.date(2021, 5, 15), datetime.date(2021, 5, 16),
       datetime.date(2021, 5, 17), datetime.date(2021, 5, 18),
       datetime.date(2021, 5, 19), datetime.date(2021, 5, 20),
       datetime.date(2021, 5, 21), datetime.date(2021, 5, 22),
       datetime.date(2021, 5, 23), datetime.date(2021, 5, 24),
       datetime.date(2021, 5, 25), datetime.date(2021, 5, 26),
       datetime.date(2021, 5, 27), datetime.date(2021, 5, 28),
       datetime.date(2021, 5, 29), datetime.date(2021, 5, 30),
       datetime.date(2021, 5, 31), datetime.date(2021, 11, 1),
       datetime.date(2021, 11, 2), datetime.date(2021, 11, 3),
       datetime.date(2021, 11, 4), datetime.date(2021, 11, 5),
       datetime.date(2021, 11, 6), datetime.date(2021, 11, 7),
       datetime.date(2021, 11, 8), datetime.date(2021, 11, 9),
       datetime.date(2021, 11, 10), datetime.date(2021, 11, 11),
       datetime.date(2021, 11, 12), datetime.date(2021, 11, 13),
       datetime.date(2021, 11, 14), datetime.date(2021, 11, 15),
       datetime.date(2021, 11, 16), datetime.date(2021, 11, 17),
       datetime.date(2021, 11, 18), datetime.date(2021, 11, 19),
       datetime.date(2021, 11, 20), datetime.date(2021, 11, 21),
       datetime.date(2021, 11, 22), datetime.date(2021, 11, 23),
       datetime.date(2021, 11, 24), datetime.date(2021, 11, 25),
       datetime.date(2021, 11, 26), datetime.date(2021, 11, 27),
       datetime.date(2021, 11, 28), datetime.date(2021, 11, 29),
       datetime.date(2021, 11, 30), datetime.date(2021, 10, 1),
       datetime.date(2021, 10, 2), datetime.date(2021, 10, 3),
       datetime.date(2021, 10, 4), datetime.date(2021, 10, 5),
       datetime.date(2021, 10, 6), datetime.date(2021, 10, 7),
       datetime.date(2021, 10, 8), datetime.date(2021, 10, 9),
       datetime.date(2021, 10, 10), datetime.date(2021, 10, 11),
       datetime.date(2021, 10, 12), datetime.date(2021, 10, 13),
       datetime.date(2021, 10, 14), datetime.date(2021, 10, 15),
       datetime.date(2021, 10, 16), datetime.date(2021, 10, 17),
       datetime.date(2021, 10, 18), datetime.date(2021, 10, 19),
       datetime.date(2021, 10, 20), datetime.date(2021, 10, 21),
       datetime.date(2021, 10, 22), datetime.date(2021, 10, 23),
       datetime.date(2021, 10, 24), datetime.date(2021, 10, 25),
       datetime.date(2021, 10, 26), datetime.date(2021, 10, 27),
       datetime.date(2021, 10, 28), datetime.date(2021, 10, 29),
       datetime.date(2021, 10, 30), datetime.date(2021, 10, 31),
       datetime.date(2021, 9, 1), datetime.date(2021, 9, 2),
       datetime.date(2021, 9, 3), datetime.date(2021, 9, 4),
       datetime.date(2021, 9, 5), datetime.date(2021, 9, 6),
       datetime.date(2021, 9, 7), datetime.date(2021, 9, 8),
       datetime.date(2021, 9, 9), datetime.date(2021, 9, 10),
       datetime.date(2021, 9, 11), datetime.date(2021, 9, 12),
       datetime.date(2021, 9, 13), datetime.date(2021, 9, 14),
       datetime.date(2021, 9, 15), datetime.date(2021, 9, 16),
       datetime.date(2021, 9, 17), datetime.date(2021, 9, 18),
       datetime.date(2021, 9, 19), datetime.date(2021, 9, 20),
       datetime.date(2021, 9, 21), datetime.date(2021, 9, 22),
       datetime.date(2021, 9, 26), datetime.date(2021, 9, 27),
       datetime.date(2021, 9, 28), datetime.date(2021, 9, 29),
       datetime.date(2021, 9, 30), datetime.date(2021, 1, 1),
       datetime.date(2021, 1, 2), datetime.date(2021, 1, 3),
       datetime.date(2021, 1, 4), datetime.date(2021, 1, 5),
       datetime.date(2021, 1, 6), datetime.date(2021, 1, 7),
       datetime.date(2021, 1, 8), datetime.date(2021, 1, 9),
       datetime.date(2021, 1, 10), datetime.date(2021, 1, 11),
       datetime.date(2021, 1, 12), datetime.date(2021, 1, 13),
       datetime.date(2021, 1, 14), datetime.date(2021, 1, 15),
       datetime.date(2021, 1, 16), datetime.date(2021, 1, 17),
       datetime.date(2021, 1, 18), datetime.date(2021, 1, 19),
       datetime.date(2021, 1, 20), datetime.date(2021, 1, 21),
       datetime.date(2021, 1, 22), datetime.date(2021, 1, 23),
       datetime.date(2021, 1, 24), datetime.date(2021, 1, 25),
       datetime.date(2021, 1, 26), datetime.date(2021, 1, 27),
       datetime.date(2021, 1, 28), datetime.date(2021, 1, 29),
       datetime.date(2021, 1, 30), datetime.date(2021, 1, 31),
       datetime.date(2021, 2, 1), datetime.date(2021, 2, 2),
       datetime.date(2021, 2, 3), datetime.date(2021, 2, 4),
       datetime.date(2021, 2, 5), datetime.date(2021, 2, 6),
       datetime.date(2021, 2, 7), datetime.date(2021, 2, 8),
       datetime.date(2021, 2, 9), datetime.date(2021, 2, 10),
       datetime.date(2021, 2, 11), datetime.date(2021, 2, 12),
       datetime.date(2021, 2, 13), datetime.date(2021, 2, 14),
       datetime.date(2021, 2, 15), datetime.date(2021, 2, 16),
       datetime.date(2021, 2, 17), datetime.date(2021, 2, 18),
       datetime.date(2021, 2, 19), datetime.date(2021, 2, 20),
       datetime.date(2021, 2, 21)], dtype=object)

In [24]:
# #do it after seperating the time and date
# resono_all.drop_duplicates(subset = ['Locationcode', 'Start', 'End', 'Visits'], keep = 'last')

In [85]:
resono_1["Visits"] = resono_1["Visits"].astype(int)

In [101]:
#Top 6 biggest parks
locations = ['Rembrandtpark Noord',
 'Rembrandtpark Zuid',
 'Sarphatipark',
 'Vondelpark Oost',
 'Vondelpark West',
 'Oosterpark',
 'Erasmuspark',
 'Westergasfabriek']

# Only select resono data of biggest 6 parks
resono_1 = resono_1[resono_1['Location'].isin(locations)]

In [103]:
resono_1.groupby('Location').count()

,Locationcode,Start,End,Visits,Start_Dates,Start_Time,End_Dates,End_Time
Location,,,,,,,,
Erasmuspark,67898,67898,67898,67898,67898,67898,67898,67898
Oosterpark,54210,54210,54210,54210,54210,54210,54210,54210
Rembrandtpark Noord,12480,12480,12480,12480,12480,12480,12480,12480
Rembrandtpark Zuid,11641,11641,11641,11641,11641,11641,11641,11641
Sarphatipark,53558,53558,53558,53558,53558,53558,53558,53558
Vondelpark Oost,42751,42751,42751,42751,42751,42751,42751,42751
Vondelpark West,55309,55309,55309,55309,55309,55309,55309,55309
Westergasfabriek,41403,41403,41403,41403,41403,41403,41403,41403

In [104]:
# path=r'C:\Users\amr2-\OneDrive\デスクトップ\Resono\\'
# resono_all.to_csv(path+'resono_all.csv')

Check if vondelpark has west and east. if so rename them to vondelpark.

# Averaging

In [88]:
resono_data = resono_all.copy()
resono_data

,Location,Locationcode,Start,End,Visits,Start_Dates,Start_Time,End_Dates,End_Time
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1,2020-09-30,00:00:00,2020-09-30,00:14:59
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1,2020-09-30,00:15:00,2020-09-30,00:29:59
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1,2020-09-30,00:30:00,2020-09-30,00:44:59
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1,2020-09-30,00:45:00,2020-09-30,00:59:59
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1,2020-09-30,01:00:00,2020-09-30,01:14:59
...,...,...,...,...,...,...,...,...,...
4804153,Omval/Overamstel,64ee1aa6-cb1d-4fea-8908-160f4c8b3c7d,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,111,2021-02-21,23:30:00,2021-02-21,23:44:59
4804154,Duivendrecht,b4f14e17-4b23-42e6-89d3-f076cdb384bf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,204,2021-02-21,23:30:00,2021-02-21,23:44:59
4804155,Amsterdamse Poort,13d50a94-abc5-4ef4-afeb-307ed97fa2de,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,17,2021-02-21,23:30:00,2021-02-21,23:44:59
4804156,Javaplein,541136e8-d7dc-4370-9bfd-523608a4d9cf,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,2,2021-02-21,23:30:00,2021-02-21,23:44:59
4804157,Diemen Noord,fd2ea5ba-e356-4338-93a9-e009728f9bcg,2021-02-21T23:30:00+00:00,2021-02-21T23:44:59+00:00,291,2021-02-21,23:30:00,2021-02-21,23:44:59

In [89]:
#Top 6 biggest parks
locations = ['Rembrandtpark Noord',
 'Rembrandtpark Zuid',
 'Sarphatipark',
 'Vondelpark Oost',
 'Vondelpark West',
 'Oosterpark',
 'Erasmuspark',
 'Westergasfabriek']

# Only select resono data of biggest 6 parks
df_average_visits_parks = resono_data[resono_data['Location'].isin(locations)]

In [90]:
df_average_visits_parks.groupby('Location').count()

,Locationcode,Start,End,Visits,Start_Dates,Start_Time,End_Dates,End_Time
Location,,,,,,,,
Erasmuspark,67898,67898,67898,67898,67898,67898,67898,67898
Oosterpark,54210,54210,54210,54210,54210,54210,54210,54210
Rembrandtpark Noord,12480,12480,12480,12480,12480,12480,12480,12480
Rembrandtpark Zuid,11641,11641,11641,11641,11641,11641,11641,11641
Sarphatipark,53558,53558,53558,53558,53558,53558,53558,53558
Vondelpark Oost,42751,42751,42751,42751,42751,42751,42751,42751
Vondelpark West,55309,55309,55309,55309,55309,55309,55309,55309
Westergasfabriek,41403,41403,41403,41403,41403,41403,41403,41403

In [91]:
df_average_visits_parks['Visits'] = df_average_visits_parks['Visits'].astype(float, errors = 'raise')

<ipython-input-91-e90f595eebaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_average_visits_parks['Visits'] = df_average_visits_parks['Visits'].astype(float, errors = 'raise')

In [92]:
df_average_visits_parks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 339250 entries, 204 to 4804099
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Location      339250 non-null  object
 1   Locationcode  339250 non-null  object
 2   Start         339250 non-null  object
 3   End           339250 non-null  object
 4   Visits        339250 non-null  float64
 5   Start_Dates   339250 non-null  object
 6   Start_Time    339250 non-null  object
 7   End_Dates     339250 non-null  object
 8   End_Time      339250 non-null  object
dtypes: float64(1), object(8)
memory usage: 25.9+ MB

In [93]:
df_average_visits = df_average_visits_parks 
df_average_visits['Start'] = pd.to_datetime(df_average_visits['Start'])
df_average_visits = df_average_visits.groupby(['Location', 'Start']).mean().reset_index()
df_average_visits['End'] = df_average_visits['Start'] + dt.timedelta(minutes=14, seconds=59)

<ipython-input-93-ee962e7fb430>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_average_visits['Start'] = pd.to_datetime(df_average_visits['Start'])

In [94]:
df_average_visits.loc[(df_average_visits['Location'] == 'Vondelpark Oost')|
                      (df_average_visits['Location'] == 'Vondelpark West')]


#Vondelpark Oost = 8876 rows
#Vondelpark West = 8876 rows

,Location,Start,Visits,End
134703,Vondelpark Oost,2020-09-30 00:00:00+00:00,2.0,2020-09-30 00:14:59+00:00
134704,Vondelpark Oost,2020-09-30 00:15:00+00:00,2.0,2020-09-30 00:29:59+00:00
134705,Vondelpark Oost,2020-09-30 00:30:00+00:00,2.0,2020-09-30 00:44:59+00:00
134706,Vondelpark Oost,2020-09-30 00:45:00+00:00,2.0,2020-09-30 00:59:59+00:00
134707,Vondelpark Oost,2020-09-30 01:00:00+00:00,2.0,2020-09-30 01:14:59+00:00
...,...,...,...,...
194919,Vondelpark West,2022-01-06 13:45:00+00:00,295.0,2022-01-06 13:59:59+00:00
194920,Vondelpark West,2022-01-06 14:00:00+00:00,289.0,2022-01-06 14:14:59+00:00
194921,Vondelpark West,2022-01-06 14:15:00+00:00,290.0,2022-01-06 14:29:59+00:00
194922,Vondelpark West,2022-01-06 14:30:00+00:00,332.0,2022-01-06 14:44:59+00:00
194923,Vondelpark West,2022-01-06 14:45:00+00:00,344.0,2022-01-06 14:59:59+00:00

In [95]:
# Merge Noord-Zuid & Oost-West into one location
df_average_visits_parks.loc[df_average_visits_parks.Location.str.contains('Rembrandtpark'), 'Location'] = 'Rembrandtpark'
df_average_visits_parks.loc[df_average_visits_parks.Location.str.contains('Vondelpark'), 'Location'] = 'Vondelpark'

df_average_visits_parks_summed = df_average_visits_parks.groupby(['Location', 'Start', 'End']).sum().reset_index()

C:\Users\amr2-\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [96]:
df_average_visits_parks_summed.loc[(df_average_visits_parks_summed['Location'] == 'Vondelpark')]
#Vondelpark = 8876 rows

,Location,Start,End,Visits
130544,Vondelpark,2020-09-30 00:00:00+00:00,2020-09-30T00:14:59+00:00,3.0
130545,Vondelpark,2020-09-30 00:15:00+00:00,2020-09-30T00:29:59+00:00,36.0
130546,Vondelpark,2020-09-30 00:30:00+00:00,2020-09-30T00:44:59+00:00,28.0
130547,Vondelpark,2020-09-30 00:45:00+00:00,2020-09-30T00:59:59+00:00,22.0
130548,Vondelpark,2020-09-30 01:00:00+00:00,2020-09-30T01:14:59+00:00,22.0
...,...,...,...,...
172668,Vondelpark,2022-01-06 13:45:00+00:00,2022-01-06 13:59:59,295.0
172669,Vondelpark,2022-01-06 14:00:00+00:00,2022-01-06 14:14:59,289.0
172670,Vondelpark,2022-01-06 14:15:00+00:00,2022-01-06 14:29:59,290.0
172671,Vondelpark,2022-01-06 14:30:00+00:00,2022-01-06 14:44:59,332.0
172672,Vondelpark,2022-01-06 14:45:00+00:00,2022-01-06 14:59:59,344.0

In [97]:
resono = df_average_visits_parks_summed
resono.groupby('Location').count()

                  Start    End  Visits
Location
Erasmuspark       42128  42128   42128
Oosterpark        42128  42128   42128
Rembrandtpark      4159   4159    4159
Sarphatipark      42129  42129   42129
Vondelpark        42129  42129   42129
Westergasfabriek  36834  36834   36834

In [98]:
resono['Start_Dates'] = pd.to_datetime(resono['Start']).dt.date
resono['Start_Time'] = pd.to_datetime(resono['Start']).dt.time

resono['End_Dates'] = pd.to_datetime(resono['End']).dt.date
resono['End_Time'] = pd.to_datetime(resono['End']).dt.time

In [99]:
resono.groupby('Location').count()

,Start,End,Visits,Start_Dates,Start_Time,End_Dates,End_Time
Location,,,,,,,
Erasmuspark,42128,42128,42128,42128,42128,42128,42128
Oosterpark,42128,42128,42128,42128,42128,42128,42128
Rembrandtpark,4159,4159,4159,4159,4159,4159,4159
Sarphatipark,42129,42129,42129,42129,42129,42129,42129
Vondelpark,42129,42129,42129,42129,42129,42129,42129
Westergasfabriek,36834,36834,36834,36834,36834,36834,36834

In [75]:
# path=r'C:\Users\amr2-\OneDrive\デスクトップ\Resono\\'
# resono.to_csv(path+'resono.csv')