In [131]:
import pandas as pd
import cbsodata

#If cbsodata is not installed --> Uncomment line below and run
#!pip install cbsodata

# Downloaden van tabeloverzicht
toc = pd.DataFrame(cbsodata.get_table_list())

# Downloaden van gehele tabel (kan een halve minuut duren)
data = pd.DataFrame(cbsodata.get_data('83765NED'))

# Downloaden van metadata
metadata = pd.DataFrame(cbsodata.get_meta('83765NED', 'DataProperties'))

In [125]:
#Make a copy of the data and filter on Amsterdam
df = data.copy()
df_ams = df[df['Gemeentenaam_1'] == 'Amsterdam                               ']

#Select useful columns and reset index
cols = ['WijkenEnBuurten', 'SoortRegio_2',
       'Codering_3', 'IndelingswijzigingWijkenEnBuurten_4','AantalInwoners_5', 'Bevolkingsdichtheid_33','Mannen_6', 'Vrouwen_7', 'k_0Tot15Jaar_8',
       'k_15Tot25Jaar_9', 'k_25Tot45Jaar_10', 'k_45Tot65Jaar_11',
       'k_65JaarOfOuder_12']
df = df_ams[cols].reset_index(drop=True)

In [130]:
#Sort by most inhabitants per neighbourhood in Amsterdam

ams_population_sorted = df.sort_values(by=['AantalInwoners_5', 'Bevolkingsdichtheid_33'], ascending=False)
ams_population_sorted.head(5)

,WijkenEnBuurten,SoortRegio_2,Codering_3,IndelingswijzigingWijkenEnBuurten_4,AantalInwoners_5,Bevolkingsdichtheid_33,Mannen_6,Vrouwen_7,k_0Tot15Jaar_8,k_15Tot25Jaar_9,k_25Tot45Jaar_10,k_45Tot65Jaar_11,k_65JaarOfOuder_12
0,Amsterdam,Gemeente,GM0363,.,844947,5111.0,418127,426820,126764,109253,299004,207391,102535
544,"Bijlmer Oost (E,G,K)",Wijk,WK036394,1,28495,7695.0,14265,14225,4990,4355,8190,7760,3205
532,"Bijlmer Centrum (D,F,H)",Wijk,WK036393,1,24395,8058.0,12335,12055,4210,4905,7600,6085,1600
46,Jordaan,Wijk,WK036306,1,19305,23133.0,9795,9510,1780,1775,7180,5575,3005
219,Landlust,Wijk,WK036337,1,18640,18243.0,9210,9425,2805,2540,8070,3780,1450

In [124]:
#Sort by highest populationdensity per neighbourhood in Amsterdam

ams_population_sorted = df.sort_values(by=['Bevolkingsdichtheid_33', 'AantalInwoners_5'], ascending=False)
ams_population_sorted.head(5)

,WijkenEnBuurten,SoortRegio_2,Codering_3,IndelingswijzigingWijkenEnBuurten_4,AantalInwoners_5,Bevolkingsdichtheid_33,Mannen_6,Vrouwen_7,k_0Tot15Jaar_8,k_15Tot25Jaar_9,k_25Tot45Jaar_10,k_45Tot65Jaar_11,k_65JaarOfOuder_12
114,Fannius Scholtenbuurt,Buurt,BU03631403,1,3705,35720.0,1875,1830,435,320,1770,965,225
138,Cremerbuurt Oost,Buurt,BU03632002,1,2270,33743.0,1095,1175,295,215,1085,530,150
241,Orteliusbuurt Noord,Buurt,BU03634102,1,1385,32545.0,680,705,165,175,635,270,150
155,Hercules Seghersbuurt,Buurt,BU03632403,1,2575,32281.0,1290,1285,210,375,1250,535,215
184,Noordwestkwadrant Indische buurt Zuid,Buurt,BU03633101,1,4690,32226.0,2330,2360,575,675,2210,900,345