In [62]:
from glob import glob
import shutil
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime  as dt

In [4]:
dataframe = []
for name in glob(r"C:\Users\amr2-\OneDrive\デスクトップ\Resono\*\*\*\*.csv"):
    df = pd.read_csv(name)
    dataframe.append(df) #append to the list
        
dataframe = pd.concat(dataframe, axis=0)        
   
dataframe.drop_duplicates(inplace=True)
dataframe.reset_index(inplace=True, drop=True)

Check if vondelpark has west and east. if so rename them to vondelpark.

In [146]:
dataframe.loc[(dataframe['Location'] == 'Vondelpark West')]

# Resono_Holi.loc[(Resono_Holi['Start_Dates'] != '2020-09-30')]

,Location,Locationcode,Resono-ID,Start,End,Visits
960,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1
961,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1
962,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1
963,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1
964,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1
...,...,...,...,...,...,...
5284060,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-12-31T22:30:00+00:00,2020-12-31T22:44:59+00:00,373
5284061,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-12-31T22:45:00+00:00,2020-12-31T22:59:59+00:00,468
5284062,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-12-31T23:00:00+00:00,2020-12-31T23:14:59+00:00,421
5284840,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-12-31T23:15:00+00:00,2020-12-31T23:29:59+00:00,320
5285653,Vondelpark West,2deaade4-d687-47da-8c86-12c3f070f3d5,rcd23080,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,281

In [171]:
resono_data = dataframe.copy()
resono_data

,Location,Locationcode,Resono-ID,Start,End,Visits
0,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,rcd23000,2020-09-30T00:00:00+00:00,2020-09-30T00:14:59+00:00,1
1,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,rcd23000,2020-09-30T00:15:00+00:00,2020-09-30T00:29:59+00:00,1
2,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,rcd23000,2020-09-30T00:30:00+00:00,2020-09-30T00:44:59+00:00,1
3,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,rcd23000,2020-09-30T00:45:00+00:00,2020-09-30T00:59:59+00:00,1
4,Planciusbuurt Zuid,d872f67c-7de3-46b5-b937-664a37f115d2,rcd23000,2020-09-30T01:00:00+00:00,2020-09-30T01:14:59+00:00,1
...,...,...,...,...,...,...
5286329,Station RAI,59f13158-f7d5-4da9-85a8-0cddc726b5fa,rcd23876,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,12
5286330,Muiderpoortstation,d0498adf-7e50-4165-a0f7-7c42695be5c7,rcd23877,2020-12-31T23:15:00+00:00,2020-12-31T23:29:59+00:00,18
5286331,Muiderpoortstation,d0498adf-7e50-4165-a0f7-7c42695be5c7,rcd23877,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,14
5286332,Busstation Lelylaan,eff61520-4e8d-42ab-aa29-f56d7a10bc25,rcd23878,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,2
5286333,Winkelcentrum Amstelveen,dc682c11-e085-48d6-9496-32fb211bdf5c,rcd23879,2020-12-31T23:30:00+00:00,2020-12-31T23:44:59+00:00,115

In [158]:
resono_data.loc[(resono_data['Location'] == 'Vondelpark Oost')| (resono_data['Location'] == 'Vondelpark West')].sum() 
#Vondelpark Oost = 14216 rows
#Vondelpark West = 11538 rows

Location        Vondelpark OostVondelpark OostVondelpark OostV...
Locationcode    581b90d8-cd25-4bd4-9ae7-1b063aed2c29581b90d8-c...
Resono-ID       rcd23078rcd23078rcd23078rcd23078rcd23078rcd230...
Start           2020-09-30T00:00:00+00:002020-09-30T00:15:00+0...
End             2020-09-30T00:14:59+00:002020-09-30T00:29:59+0...
Visits                                                   21728015
dtype: object

In [159]:
#Top 6 biggest parks
locations = ['Rembrandtpark Noord',
 'Rembrandtpark Zuid',
 'Sarphatipark',
 'Vondelpark Oost',
 'Vondelpark West',
 'Oosterpark',
 'Erasmuspark',
 'Westergasfabriek']

# Only select resono data of biggest 6 parks
df_average_visits_parks = resono_data[resono_data['Location'].isin(locations)]

In [160]:
df_average_visits_parks['Visits'] = df_average_visits_parks['Visits'].astype(float, errors = 'raise')

<ipython-input-160-e90f595eebaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_average_visits_parks['Visits'] = df_average_visits_parks['Visits'].astype(float, errors = 'raise')

In [161]:
df_average_visits_parks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107595 entries, 204 to 5286274
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Location      107595 non-null  object
 1   Locationcode  107595 non-null  object
 2   Resono-ID     107595 non-null  object
 3   Start         107595 non-null  object
 4   End           107595 non-null  object
 5   Visits        107595 non-null  float64
dtypes: float64(1), object(5)
memory usage: 5.7+ MB

In [162]:
df_average_visits_parks.loc[(df_average_visits_parks['Location'] == 'Vondelpark Oost')
                            | (df_average_visits_parks['Location'] == 'Vondelpark West')].sum()

#Vondelpark Oost = 14216 rows
#Vondelpark West = 11538 rows

Location        Vondelpark OostVondelpark OostVondelpark OostV...
Locationcode    581b90d8-cd25-4bd4-9ae7-1b063aed2c29581b90d8-c...
Resono-ID       rcd23078rcd23078rcd23078rcd23078rcd23078rcd230...
Start           2020-09-30T00:00:00+00:002020-09-30T00:15:00+0...
End             2020-09-30T00:14:59+00:002020-09-30T00:29:59+0...
Visits                                                 21728015.0
dtype: object

In [163]:
df_average_visits = df_average_visits_parks 
df_average_visits['Start'] = pd.to_datetime(df_average_visits['Start'])
df_average_visits = df_average_visits.groupby(['Location', 'Start']).mean().reset_index()
df_average_visits['End'] = df_average_visits['Start'] + dt.timedelta(minutes=14, seconds=59)

<ipython-input-163-ee962e7fb430>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_average_visits['Start'] = pd.to_datetime(df_average_visits['Start'])

In [164]:
df_average_visits.loc[(df_average_visits['Location'] == 'Vondelpark Oost')|
                      (df_average_visits['Location'] == 'Vondelpark West')]


#Vondelpark Oost = 8876 rows
#Vondelpark West = 8876 rows

,Location,Start,Visits,End
34946,Vondelpark Oost,2020-09-30 00:00:00+00:00,2.000000,2020-09-30 00:14:59+00:00
34947,Vondelpark Oost,2020-09-30 00:15:00+00:00,2.000000,2020-09-30 00:29:59+00:00
34948,Vondelpark Oost,2020-09-30 00:30:00+00:00,2.000000,2020-09-30 00:44:59+00:00
34949,Vondelpark Oost,2020-09-30 00:45:00+00:00,2.000000,2020-09-30 00:59:59+00:00
34950,Vondelpark Oost,2020-09-30 01:00:00+00:00,2.000000,2020-09-30 01:14:59+00:00
...,...,...,...,...
52693,Vondelpark West,2020-12-31 22:30:00+00:00,307.333333,2020-12-31 22:44:59+00:00
52694,Vondelpark West,2020-12-31 22:45:00+00:00,447.500000,2020-12-31 22:59:59+00:00
52695,Vondelpark West,2020-12-31 23:00:00+00:00,421.000000,2020-12-31 23:14:59+00:00
52696,Vondelpark West,2020-12-31 23:15:00+00:00,320.000000,2020-12-31 23:29:59+00:00
52697,Vondelpark West,2020-12-31 23:30:00+00:00,281.000000,2020-12-31 23:44:59+00:00

In [165]:
# Merge Noord-Zuid & Oost-West into one location
df_average_visits_parks.loc[df_average_visits_parks.Location.str.contains('Rembrandtpark'), 'Location'] = 'Rembrandtpark'
df_average_visits_parks.loc[df_average_visits_parks.Location.str.contains('Vondelpark'), 'Location'] = 'Vondelpark'

df_average_visits_parks_summed = df_average_visits_parks.groupby(['Location', 'Start']).sum().reset_index()

C:\Users\amr2-\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [166]:
df_average_visits_parks_summed.loc[(df_average_visits_parks_summed['Location'] == 'Vondelpark')].sum()

Location    VondelparkVondelparkVondelparkVondelparkVondel...
Visits                                             21728015.0
dtype: object

In [167]:
df_average_visits_parks_summed.loc[(df_average_visits_parks_summed['Location'] == 'Vondelpark')]
#Vondelpark = 8876 rows

         Location                     Start  Visits
30787  Vondelpark 2020-09-30 00:00:00+00:00     3.0
30788  Vondelpark 2020-09-30 00:15:00+00:00    36.0
30789  Vondelpark 2020-09-30 00:30:00+00:00    28.0
30790  Vondelpark 2020-09-30 00:45:00+00:00    22.0
30791  Vondelpark 2020-09-30 01:00:00+00:00    22.0
...           ...                       ...     ...
39658  Vondelpark 2020-12-31 22:30:00+00:00  2294.0
39659  Vondelpark 2020-12-31 22:45:00+00:00  2049.0
39660  Vondelpark 2020-12-31 23:00:00+00:00  2033.0
39661  Vondelpark 2020-12-31 23:15:00+00:00  1094.0
39662  Vondelpark 2020-12-31 23:30:00+00:00  1079.0

[8876 rows x 3 columns]

In [168]:
resono = df_average_visits_parks_summed
resono

               Location                     Start  Visits
0           Erasmuspark 2020-09-30 00:00:00+00:00   142.0
1           Erasmuspark 2020-09-30 00:15:00+00:00   112.0
2           Erasmuspark 2020-09-30 00:30:00+00:00    83.0
3           Erasmuspark 2020-09-30 00:45:00+00:00   111.0
4           Erasmuspark 2020-09-30 01:00:00+00:00    67.0
...                 ...                       ...     ...
43817  Westergasfabriek 2020-11-12 11:45:00+00:00  1881.0
43818  Westergasfabriek 2020-11-12 12:00:00+00:00  1501.0
43819  Westergasfabriek 2020-11-12 12:15:00+00:00  1204.0
43820  Westergasfabriek 2020-11-12 12:30:00+00:00   813.0
43821  Westergasfabriek 2020-11-12 12:45:00+00:00  1097.0

[43822 rows x 3 columns]

In [169]:
resono['Start_Dates'] = pd.to_datetime(resono['Start']).dt.date
resono['Start_Time'] = pd.to_datetime(resono['Start']).dt.time

In [170]:
resono

,Location,Start,Visits,Start_Dates,Start_Time
0,Erasmuspark,2020-09-30 00:00:00+00:00,142.0,2020-09-30,00:00:00
1,Erasmuspark,2020-09-30 00:15:00+00:00,112.0,2020-09-30,00:15:00
2,Erasmuspark,2020-09-30 00:30:00+00:00,83.0,2020-09-30,00:30:00
3,Erasmuspark,2020-09-30 00:45:00+00:00,111.0,2020-09-30,00:45:00
4,Erasmuspark,2020-09-30 01:00:00+00:00,67.0,2020-09-30,01:00:00
...,...,...,...,...,...
43817,Westergasfabriek,2020-11-12 11:45:00+00:00,1881.0,2020-11-12,11:45:00
43818,Westergasfabriek,2020-11-12 12:00:00+00:00,1501.0,2020-11-12,12:00:00
43819,Westergasfabriek,2020-11-12 12:15:00+00:00,1204.0,2020-11-12,12:15:00
43820,Westergasfabriek,2020-11-12 12:30:00+00:00,813.0,2020-11-12,12:30:00
43821,Westergasfabriek,2020-11-12 12:45:00+00:00,1097.0,2020-11-12,12:45:00

In [ ]:
# path=r'C:\Users\amr2-\OneDrive\デスクトップ\Resono\\'
# resono.to_csv(path+'resono_cleaned.csv')